.setupmain {
    height: 100dvh;
}

.setupbody {
    display: flex;
    height: 86%;
    width: 100%;
}

.setupleft {
    margin: 25px;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    background-color: var(--comp-bg-color);
    padding: 2%;
}

.setupleft form button {
    margin-top: 10px;
    float: right;
    width: 20%;
    height: 30px;
}

.setupright {
    margin: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setupright h6 {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    color: rgb(38, 12, 236);
    padding: 4px;
}

.setuprightbox {
    border-radius: 5px;
    width: 96%;
    height: 70%;
    background-color: var(--comp-bg-color);
    padding: 2%;
    overflow-y: auto;
}

.setuprightbottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
}

.setuprightbottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setuprightbottom button {
    font-size: larger;
    width: 20%;
    height: 75%;
}

.setuprightbottom input{
    padding: 3px 2px;
    background-color: rgb(194, 201, 217);
    border-color: rgb(131, 138, 233);
    height: 20px;
    width: 85%;
}

.sqbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    margin: 6px;
    padding: 2px 6px;
    border-color: rgb(200, 199, 193);
    border-style: solid;
}

.sqbox button {
    width: 6%;
    height: 90%;
}

.setupleft label {
    margin: 10px;
}

.setupleft input, textarea{
    margin: 10px;
    padding: 3px 2px;
    background-color: rgb(194, 201, 217);
    border-color: rgb(131, 138, 233);
    height: 20px;
    width: 30%;
}

.setupleft select, option{
    margin: 10px;
    padding: 3px 2px;
    background-color: rgb(194, 201, 217);
    border-color: rgb(131, 138, 233);
    height: 28px;
    width: 31%;
}

.inputcontain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}